NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:16432/roadwatch
GATEWAY_URL=http://127.0.0.1:3100
SERVICE_NAME=fabric-anchor-consumer
SERVICE_URL=service://fabric-anchor-consumer
KAFKA_HLF_BROKERS=127.0.0.1:9094
KAFKA_EVENTS_BROKERS=127.0.0.1:9095
KAFKA_BROKERS=127.0.0.1:9094
KAFKA_CONSUMER_GROUP_ID=fabric-anchor-consumer-v1
KAFKA_CONSUMER_INSTANCE_ID=fabric-anchor-local-1
REDIS_URL=redis://127.0.0.1:16379/2
FABRIC_PEER_ENDPOINT=peer0.nhai.roadwatch.com:17051
FABRIC_MSP_ID=NHAIMSP
FABRIC_CHANNEL_NAME=roadwatch-india
FABRIC_CHAINCODE_NAME=complaint-anchor
LOG_LEVEL=info
